version: "2.4"

services:

  jupyter:
    container_name: jupyter
    image: jupyter/base-notebook
    restart: always
    ports:
      - 8888:8888
    user: root
    volumes:
      - ./:/home/jovyan/work
    command: ["start.sh", "jupyter", "lab", "--NotebookApp.token=''"]

  neo4j:
    container_name: neo4j
    image: neo4j:4.3
    platform: linux/amd64
    restart: always
    ports:
      - 7474:7474
      - 7687:7687
    environment:
      - NEO4J_AUTH=none
