services:

  mongo:
    image: mongo
    container_name: mongo
    restart: no
    ports:
      - "27017:27017"

  mongo-express:
    image: mongo-express
    restart: no
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo

  jupyter:
    container_name: jupyter10
    build:
      context: ./jupyter
    restart: no
    ports:
      - 8888:8888
    user: root
    volumes:
      - ./:/home/jovyan
    command: ["start.sh", "jupyter", "lab", "--NotebookApp.token=''"]